h1 {
    font-size: 5.2rem;
    font-weight: bold;
    letter-spacing: -1px;
}

h2 {
    font-size: 4.2rem;
    font-weight: 600;
}

h3 {
    font-weight: 500;
    font-size: 2.6rem;
}

h1, h2, h3 {
    line-height: 125%;
    letter-spacing: -1px;
}

.btn-primary {
    display: inline-block;
    background-color: var(--primary);
    padding: 1.5rem 3.5rem;
    letter-spacing: -0.01px;
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--white);
    transition: .3s all;
    text-transform: uppercase;
}

.btn-primary:hover {
    transform: scale(1.1);
}

.btn-contact {
    display: inline-block;
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
    padding: 1rem 2rem;
    letter-spacing: -0.01px;
    font-weight: 600;
    font-size: 1.6rem;
    transition: .3s all;
    text-transform: uppercase;
}

.btn-contact:hover {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    transform: scale(1.1);
}